<h2>Listing Transactions</h2>

<%= link_to 'New Transaction', new_transaction_path %>
<br>

<table>
  <tr>
    <th>Date</th><br>
    <th>wdl1</th>
    <th>Dep</th>
    <th>Wdl</th>
    <th>Bal</th><br>
  </tr>
  
  
  <% @transactions.each do |transaction| %>
    <tr>
        <td><%= transaction.date %></td>
        
        <td><%= transaction.wdl1 %></td>
        
        <td><div class="highlight"><%= transaction.dep %></div></td>
        
         <td><%= 20.00 %></td>
        <td><%#= transaction.sumwdl(transaction.wdl1,transaction.wdl2,transaction.wdl3) %></td>
       
         <td><%=1200.00 %></td>
         <td><div class="highlight2"><%#= transaction.calc(transaction.bal,transaction.dep,transaction.sumwdl(transaction.wdl1,transaction.wdl2,transaction.wdl3)) %></div></td>
         
         
        <td><%= link_to 'Delete', transaction_path(transaction),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
  <% end %>
</table>