<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>


<p>
  <strong>Dep:</strong>
  <%= @transaction.dep %>
</p>

<p>
  <strong>Wdl:</strong>
  <%= @transaction.sumwdl(@transaction.wdl1,@transaction.wdl2,@transaction.wdl3) %>
</p>

<p>
  <strong>Bal:</strong>
  <%= @transaction.calc(@transaction.bal,@transaction.dep,@transaction.sumwdl(@transaction.wdl1,@transaction.wdl2,@transaction.wdl3)) %>
</p>


<%#= link_to 'Edit', edit_transaction_path(@transaction) %>
<%= link_to 'back', transactions_path %>